/figure/
/Loss_file/
/__pycache__/
/**.npy
/**.csv
/data_completion_float_test.py
/data_missed_list_fixed_t2m.torch
/data_missed_list_fixed_t2m.txt
/file_names_fixed_TMP_L103.torch
/nwp_rmse_leadtime_herbie.sh
U_component.gif
/Nwp_loss_file
/wandb
/figure_UV
/figure_diffLT
/hourly2_data_completion
/amlt
/figure_gif_resconstruction


