/__pycache__/
/wandb/
loss**
mean_dict_**
variance_dict_**
/Loss_file/
/figure/
/**.gif
/**.npy
/**.csv
/**.grib2
/nwp**.sh
/random_test/
/cme**/
/eow**/
/msc**/
/**/**/.amlt**
/**/a.txt
/Nwp_loss_file/
/amlt/

